html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
    width: 100%;
    font-size: 15px;
    font-family: 'EB Garamond', serif;
    color: #397e7a;
    text-align: center;
}

main{
    padding-top:100px;
}

p{
    color: 	#397e7a;
    font-family: 'EB Garamond', serif;
}

li{
    list-style: none;
}

a{
    color: 	#397e7a;
    text-decoration: none;
}
a:hover{
    color: grey;
    transition: all 200ms;
}
header {
    height: 50px;
    max-width: 960px;
    width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	/* border-bottom: 1px solid #000000; */
	display: flex;
	align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 10;
    padding: 0 20px 0 20px;
}

.title-name a{
    font-size:20px;
    padding-left: 20px;
}
.title-name a:hover{
    color: gold;
    transform: scale(1.01);
}
.inline-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}
.item_menu{
    color: 	#397e7a;
    padding: 10px;
    text-decoration: none;
}

.item_menu:hover{
    color: grey;
    transform: scale(1.01);
}

.burger{
    display:none;
    color: 	#397e7a;
}

.burger:hover{
    color: gold;
}


/* INTRO SECTION WITH ANIMATION IFRAME */
#intro{
    background-image: url('assets/Lea_Portrait_Loam_2019_B_300dpi web.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Text block "how would you describe your next great idea?" */
#how-would-you{
    background-color: #d9ebf4;
    height: 100vh;
    width: 100%;
    padding: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ABOUT SECTION */
#about{
    line-height: 1.3em;
    height: 100vh;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-text{
    text-align: left;
    width: 50%;
    padding: 50px;
}
#about-title{
    font-size: 1.5em;
    color: #e7acb7;
}

#about-tagline{
    color: #f3d4d9;
}
#about-img{
    background-image: url('assets/star_LeaThomasbyBelenPrietoBueno33.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
}



/* PROJECTS SECTION */
#projects{
    padding-top: 100px;
    background-color: #f1d8de;
}

#projects-code, #projects{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: left;
}
#projects-code div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
}
#projects-code img{
    margin: 0 25px 0 25px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
#projects-code img:hover{
    filter: brightness(70%);
    /* toggle the title to show ? */
    transform: scale(1.01);
    transition: all 200ms;
}
#projects-code p,  #projects-code a{
    width: 200px;
    height: 10px;
    font-size: 10px;
    line-height: 1em;
}
#projects-code a{
    color: #7ca1a0;
    text-decoration: none;
    padding-top: 10px;
}
#projects-code a:hover{
    color: rgb(197, 174, 46);
    transform: scale(1.01);
    transition: all 200ms;
}
#projects-code p{
}



/* ARTIST WEBSITE */

#hoppie-canyon{
    width: 100%;
    height: 80vh;
}

#artist-website button{
    background-color: #ffffff;
    border: 1px solid gold;
    color: #397e7a;
    padding: 10px;
    font-weight: bold;
}


#metaphor{
    background-image: url(assets/leawovenhemp.JPG);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
}
#metaphor p{
    color: #ffffff;
}

/* CONTACT SECTION */
#contact{
    line-height: 2em;
    height: 100vh;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* FOOTER */
footer{
    height: 30px;
    max-width: 960px;
    width: 100%;
	background-color: rgba(65, 96, 125, 0.8);
	display: flex;
	align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}



/* MEDIA QUERY*/
@media screen and (max-width: 320x) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}