body {
    background-color: #000000;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;

}

main{
    padding-top:100px;
}

p{
    color: white;
    font-family: 'Source Code Pro', monospace;
}

li{
    list-style: none;
}


header {
    height: 70px;
    max-width: 960px;
    width: 90%;
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-name a{
    color: white;
    text-decoration: none;
    font-size:20px;
    font-family: 'Source Code Pro', monospace;
}
.title-name a:hover{
    color: paleturquoise;
    transform: scale(1.01);
    transition: all 200ms;
}
.inline-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.item_menu{
    color: white;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    text-decoration: none;
}

.item_menu:hover{
    color: grey;
    transform: scale(1.01);
    transition: all 200ms;
}

.burger{
    display:none;
    color: white;
}

.burger:hover{
    color: paleturquoise;
}




/* PROJECTS DIV */


#projects-code{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

#projects-code img{
    margin: 25px;
    width: 200px;
    height: 200px;
}
#projects-code img:hover{
    filter: brightness(80%);
    /* toggle the tite to show*/
    transform: scale(1.01);
    transition: all 200ms;
}
#projects-code p,  #projects-code a{
    width: 200px;
    height: 50px;
    font-size: 10px;
    line-height: 1em;
    text-transform: uppercase;
}
#projects-code a{
    color: #ffffff;
    text-decoration: none;
}
#projects-code a:hover{
    color: paleturquoise;
    text-decoration: underline;
    transform: scale(2);
}
#projects-code p{
    
}


#about{
    line-height: 2em;
    height:700px;
    min-height: 400px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320x) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}