html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    font-size: 15px;
    font-family: 'EB Garamond', serif;
    color: #397e7a;
    text-align: center;
}

main{
    padding-top:50px;
}

p{
    color: 	#397e7a;
    font-family: 'EB Garamond', serif;
}

li{
    list-style: none;
}

a{
    color: 	#397e7a;
    text-decoration: none;
}
a:hover{
    color: grey;
    transition: all 300ms;
}
header {
    width: 100%;
    min-width: 320px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0px;
    z-index: 10;
    position: fixed;
    text-align: center;
}

#header-wrapper{
    max-width: 960px;
    margin: 0 auto;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
     /* scroll-animations keywords */
     transition: opacity 2s 1s ease-out;
     opacity: 0;
     will-change: opacity;
}
#header-wrapper.is-visible {
    opacity: 1;

    }

  
.title-name a{
    font-size:20px;
    padding-left: 20px;
}
.title-name a:hover{
    color: gold;
    transform: scale(1.01);
}
.inline-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}
.item_menu{
    color: 	#397e7a;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
}

.item_menu:hover{
    color: grey;
    transform: scale(1.01);
    border-bottom: 1px solid;
    transition: all 300ms;
}

.burger{
    display:none;
    color: 	#397e7a;
    font-size: extra-large;
}

.burger:hover{
    color: gold;
}
.close{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1005;
    padding: 22px;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.close a{
    width: 20px;
    height: 20px;
    color: rgba(141, 97, 108, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.mobile-menu-show{
    margin-left: -90000px;
    visibility: hidden;   
    padding: 10% 10px 20% 10px;
    -webkit-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
    -moz-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
    -ms-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
    -o-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
    transition: margin-left .5s 350ms, visibility 2s, background-color 200ms cubic-bezier(.55,0,.1,1) 175ms;
}


.mobile-menu-back{
    margin-left: -90000px;
}


/* INTRO SECTION WITH ANIMATION IFRAME */
#intro{
    background-image: url('assets/Lea_Portrait_Loam_2019_B_300dpi web.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
    transition: opacity 3s .25s ease-out;
    will-change: opacity;
}
#intro.is-visible{
    opacity: 1;
  }


/* Text block "how would you describe your next great idea?" */
#how-would-you{
    background-color: #d9ebf4;
    height: 90vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#how-would-you p{
    width: 100%;

    color: #9cb7c5;
    transition: opacity 2s .25s ease-out;
    opacity: 0;
    will-change: opacity;
}
#how-would-you-web{
    width: 90%;
    max-width: 960px;
}
#how-would-you-mobile{
    display:none;
    max-width: 320px;
    height: 100%;
}
#how-would-you-mobile p{
    max-width: 300px;
    color: #9cb7c5;
}
.mobile-quote a{
    color: #a86561;
    font-weight: bold;
    font-style: normal;
    transition: all 2s .25s ease-out;
}
 
.quote a{
    color: #a86561;
    font-weight: bold;
    font-size: 1em;
    font-style: normal;
}
.quote a:hover, .mobile-quote a:hover{
    color: #397e7a;
    transition: all .25s .25s ease-out;
}
  
#how-would-you .is-visible p{
    opacity: 1;
  }
.quote.is-visible{
    font-style: normal;
}
.mobile-quote.is-visible{
    font-style: normal;
}






/* ABOUT SECTION */
#about{
    line-height: 1.3em;
    height: 100vh;
    /* text-align: left;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;

}
#about-text{
    text-align: left;
    width: 40%;
    padding: 50px;
    position: absolute;
    left: 0;
}
#about-text h2, #about-text p{
    opacity: 0.5;
}
#about-title{
    font-size: 1.5em;
    color: #ce929d;
    transform: translate(-30px,0);
    -webkit-transform: translate(-30px,0); 
    -o-transform: translate(-30px,0);
    -moz-transform: translate(-30px,0); 
}

#about-tagline{
    color: #e7acb7;
    transform: translate(-30px,0);
    -webkit-transform: translate(-30px,0); 
    -o-transform: translate(-30px,0);
    -moz-transform: translate(-30px,0); 
}
#about-img-web{
    width: 48%;
    background-image: url('assets/star_LeaThomasbyBelenPrietoBueno33.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    height: 100vh;
    opacity: 0.6;
    /* transition: all 2s .3s ease-out; */
    transform: translate(15px,0);
    -webkit-transform: translate(15px,0); 
    -o-transform: translate(15px,0);
    -moz-transform: translate(15px,0); 
}
#about-img-mobile{
    opacity: 0.6;
    transition: all 2s .3s ease-out;
}
#about-text.is-visible p, #about-text.is-visible h2{
    opacity:1;
    transition: all 2s .3s ease-out;
}
#about-title.is-visible{
    transform: translate(0,0);
    -webkit-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
    transition: all 1s .3s ease-out;
    opacity:1;
}
#about-tagline.is-visible{
    transform: translate(0,0);
    -webkit-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
    transition: all .5s .3s ease-out;
    opacity:1;
}
#about-img-web.is-visible{
    width: 50%;
    opacity:1;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
    transition: all 1.5s .3s ease-out;
}
#about-img-mobile.is-visible{
    opacity:1;
}


#about-img-mobile{
    background-image: url('assets/star_LeaThomasbyBelenPrietoBueno33.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 100%;
    height: 500px;
}



/* PROJECTS SECTION */
#projects{

    background-color: #ffffff;
    padding: 100px 50px 100px 50px;
}

#projects-code{
    border-top: 1px solid rgb(226, 176, 184);
    border-bottom: 1px solid rgb(226, 176, 184);
    padding: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#projects-code div{
    margin: 5px;
    width: 30%;
    height: 250px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    background-size: cover;
}

#projects-code div:hover{
    filter: brightness(95%);
    transform: scale(1.01);
    color: rgb(197, 174, 46);
    transition: all 400ms;
}
#projects-code p,  #projects-code a{
    position: relative;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
    text-align: left;
}

#projects-code a{
    color: #265754;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgba(255,255,255, .7);
}
#projects-code a:hover{
    color: rgb(121, 103, 0);
    transform: scale(1.01);
    transition: all 400ms;
}

/* VIDEO */
#video{
    margin:0;
    background-color: #052238;
}
#hoppie-canyon{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* ARTIST WEBSITE */
#artist-website{
    height: 40vh;
    width: 100%;
    background-color: #052238;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}
#artist-website{
    margin: 0;
}
#artist-website p a span{
    color: #faf7db;
    margin: 2em;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    display: block;
}
#artist-website p{
    color: #9ac0be;
    opacity: 0;
    transition: all 3s .25s ease-out;
}
#artist-website p a span:hover{
    color: rgb(245, 209, 5);
    text-decoration: underline;
}
#artist-website.is-visible p{
    opacity:1;
    transition: all 2s .25s ease-out;
}



/* METAPHOR */
#metaphor{
    background-image: url(assets/leawovenhemp.JPG);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(80%);
    transition: all 1.5s .5s ease-in-out;
    font-size: 1.2em;
}
#metaphor p{
    color: #ffffff;
}
#metaphor.is-visible{
    filter: brightness(100%);
}

/* CONTACT SECTION */
#contact{
    line-height: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#contact-google{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 100px;
}
.form-input{
    width: 500px;
    height: 20px;
    padding: 5px;
    border: 1px solid #a86561;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.7);
    color: #397e7a;
}
.form-input-message{
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 1px solid #a86561;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.7);
    color: #397e7a;
}

#submit{
    text-align: right;
}
#submit button{
    width: 100px;
    border: 1px solid #f5e3e2;
    border-radius: 5px;
    background-color: rgba(243, 229, 229, 0.7);  
    font-family: 'EB Garamond', serif;
    margin-top: 10px;
    height: 2em;
    font-weight: bold;
    color: #397e7a;
}
#submit button:hover{
    background-color: rgba(218, 214, 214, 0.8);  
    transition: all 400ms;
}


/* FOOTER */
footer{
    height: 50px;
    /* max-width: 960px; */
    width: 100%;
	background-color: rgba(65, 96, 125, 0.8);
    position: fixed;
    bottom: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}
#footer-menu{
    display: flex;
	align-items: center;
    justify-content: space-around;
    width: 50%;
}

#footer-menu a{
    color: #f1d8de;
}
#footer-menu a:hover{
    color: #fdf1f4;
}

.fab, .fa-instagram, .fa-facebook-f, .fas, .fa-link, .fa-bandcamp, .fa-youtube,  .fa-github, .fa-linkedin-in{
    color: rgba(169,169,169, 1);
    size: 1.5em;
}

.fa, .fab, .fas {
    font-weight: 900;
  }
  .fa:hover, .fab:hover, .fas:hover {
    font-weight: 900;
    color: rgb(231, 228, 228);
    transition: all 400ms;
  }
  
  .fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
  }
  
  .fa-2x {
    font-size: 2em;
  }
  
  .fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  
  .fa-2x {
    font-size: 2em;
  }
  



/* MEDIA QUERY*/
@media screen and (max-width: 320x) {

    #intro, #how-would-you, #about, #projects, #artist-website, #metaphor, #contact {
        width: 100%;
    }

    #intro{
        height: 100vh;
    }



  
    header{
        width: 100%;
        height: 100%;
    }
    #header-wrapper{
        justify-content: space-around;
        align-items: center;
        padding-top: 1em;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .title-name a{
        padding: 0;
        width: 50%;
    }
    .item_menu{
        display:none;
        background-color: rgba(241,216,222, .9);
        font-size: smaller;
        padding: 1em 0 1em 0;
    }
    .last-item-menu{
        padding-bottom: 30px;
    }
    .inline-menu{
        display:block;
        width: 100%;
    }
    .burger{
        display: block;
    }
    .mobile-menu-show{
        margin-left: -90000px;
        /* visibility: hidden; */
        padding: 10% 10px 20% 10px;
        -webkit-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -moz-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -ms-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -o-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        transition: margin-left .5s 350ms, visibility 2s, background-color 200ms cubic-bezier(.55,0,.1,1) 175ms;
    }
    .mobile-menu-back{
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index:1000;
        background-color: rgba(241,216,222, .9);
    }
/* 
    .mobile-menu-back{
        position: fixed;
        display:none;
        margin-left: -100vh;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index:1000;
        background-color: rgba(241,216,222, .9);
    } */
    .mobile-menu-container{
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        width: calc(100% - 60px );
    }
    .mobile-menu{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
        width: 100%;
        padding: 36px;
        overflow: auto;
    }
    .mobile-menu-links{
        display:none;
        font-size: 1.6em;
        font-weight: bold;
        color:  #90acaa;
        letter-spacing: .04em;
        line-height: 1.8em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: .618em;
        text-align: left;
        z-index: 1003;
    }


    



    #how-would-you{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #how-would-you-web{
        display: none;
    }
    #how-would-you-mobile{
        display: block;
        height: 100%;
    }






    #about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: #dbe6e5;
    }
    #about-text{
        width: 90%;
        padding: 5%;
        height: 100%;
        position: relative;
        transition: all .25s .25s ease-out;
    }
    #about-img-web{
        display: none;
    }
    #about-img-mobile{
        display: block;
    }




    #projects{
        padding:100px 0 100px 0;
    }
    #projects-code div{
        width: 100%;
        height: 250px;
    } 




    #artist-website {
        width: 100%;
        height: 80%;
        margin: 0;
    }
    #artist-website p,   #artist-website a span{
        width: 100%;
        margin: 0;
    } 


    #metaphor p{
        padding: 0 20px 0 20px;
        height: 70%;
        font-size: .9em;
    }




    #contact{
        padding-left: 10px;
    }
    .form-input{
        width: 300px;
    }
    .form-input-message{
        width: 300px;
    }
    .form button{
        height: 2em;
        padding-left: 170px;
    }
    .form button p{
        font-family: 'EB Garamond', serif;
        font-weight: bold;
        font-size: 2em;
    }



    footer{
        width: 100%;
      
    }
    #footer-menu{
        width: 100%;
    }
}
@media screen and (max-width: 620px) {
    #intro #how-would-you #about #projects #video #artist-website #metaphor #contact {
        width: 100%;
    }

    #intro{
        height: 100vh;
    }



    header{
        width: 100%;
    }
    #header-wrapper{
        justify-content: space-around;
        align-items: center;
        padding: 1em 0 0 0;
        margin: 0;
    }
    .title-name a{
        padding: 0px;
        width: 50%;
    }
    .item_menu{
        display:none;
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.9); */
        background-color: rgba(241,216,222, .9);
        /* transition: background 1s .25s ease-out; */
        font-size: smaller;
        padding: 1em 0 1em 0;
    }
    .last-item-menu{
        padding-bottom: 30px;
    }
    .burger{
        display: block;
    }    
    .mobile-menu-show{
        margin-left: -90000px;
        /* visibility: hidden; */
        padding: 10% 10px 20% 10px;
        -webkit-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -moz-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -ms-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        -o-transition: margin-left .5s 350ms,visibility 2s, background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
        transition: margin-left .5s 350ms, visibility 2s, background-color 200ms cubic-bezier(.55,0,.1,1) 175ms;
    }
    .mobile-menu-back{
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index:1000;
        background-color: rgba(241,216,222, .9);
    }
    /* .mobile-menu-back{
        position: fixed;
        display:none;
        margin-left: -100vh;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index:1000;
        background-color: rgba(241,216,222, 1);
    } */
    .mobile-menu-container{
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1002;
        width: calc(100% - 60px );
        overflow:hidden;
    }
    
    .mobile-menu-links{
        display:none;
        font-size:1.6em;
        font-weight: bold;
        color:  #90acaa;
        letter-spacing: .04em;
        line-height: 1.8em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: .618em;
        text-align: left;
        z-index: 1003;

    }




    #how-would-you{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #how-would-you-web{
        display: none;
    }
    #how-would-you-mobile{
        display: block;
    }





   #about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        background-color: #dbe6e5;
    }
    #about-text{
        width: 90%;
        padding: 5%;
        display: block;
        position: relative;
    }
    #about-text.is-visible p{ 
        transition: opacity .2s .25s ease-out;
    }
    #about-img-web{
        display: none;

    }
    #about-img-mobile{
        display: block;
    } 





    #projects{
        padding:100px 0 100px 0;
    }
    #projects-code div{
        width: 100%;
        height: 250px;
    }





    #video{
        width: 100%;
    }



    

    #artist-website {
        width: 100%;
        height: 80%;
        margin: 0;
    }

    #artist-website p,   #artist-website p a span{
        width: 100%;
        margin: 0;
    } 




#photography{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "a a b b c c c c"
    "a a b b c c c c"
    "a a d d e e f f"
    "a a d d e e f f"
    "g g g g h h f f"
    "g g g g h h f f";
}





    #metaphor p{
        padding: 0 20px 0 20px;
        height: 70%;
        font-size: .9em;
    }



    #contact{
        padding-left: 10px;
    }
    .form-input{
        width: 300px;
    }
    .form-input-message{
        width: 300px;
    }
    .form button{
        height: 2em;
        padding-left: 170px;
    }
    .form button p{
        font-family: 'EB Garamond', serif;
        font-weight: bold;
        font-size: 2em;
    }


    #footer-menu{
        width: 100%;
    }
}